/* table of content 
---------------------------------------------
-) general content
-) typogrphy
-) header & navigation
-) images & media
-) footer
-) media queries
---------------------------------------------*/

/* -) general content
---------------------------------------------*/
.main {padding-top: 3%;}
.row {padding: 2% 0;}
.green {background-color: #7accc8;}




/* -) typogrphy
---------------------------------------------*/
body{
    font-family: "Abel", sans-serif;
    font-size: 1.5em;
    color: black;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    margin: 0.67em;
    color: black;
}

h2.bio {
    color: #3f7f7c;
}

p.bio {
    color: #fff;
}

/*---------------------------------------------*/
/* -) header & navigation
---------------------------------------------*/
header.main_nav{
    padding: 1% 0;
    display: block;
}

.logo {
    margin: 5% auto;
    text-align: center;
}

.logo a{
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    text-transform: uppercase;
    padding: 2px 10px 0 10px;
    margin: 0;
}

.logo a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #7accc8;
}

/*---------------------------------------------*/
/* -) images & media
---------------------------------------------*/
img {
    max-width: 100%;
}

img.avatar {
    border-radius: 4000px;
    border: 10px solid #fff;
}

img:hover{
    opacity: 0.9;
}


/*---------------------------------------------*/
/* -) footer
---------------------------------------------*/

ul.social {
    display: block;
    margin: 5% 0;
    list-style-type: none;
    text-align: center;
}

ul.social li{
    font-size: 3em;
    display: inline;
    padding: 0 2%;
}

ul.social li a{
    color: #7accc8;
}

ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.instagram a:hover{color: rgb(81,127,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}


p.copyright {
    text-align: center;
    color: #7accc8;
    font-size: 1em;
    
}


/* -) media queries
---------------------------------------------*/
/* Mobile */
@media (max-width: 479px) {
    .logo a {font-size: 1em; }
    .main {padding-top: 15%; }
    .portfolio img { margin-bottom: 10%;}
    img.avatar {margin-top: 15%;}
    h2.bio {font-size: 2.5em;}
    p.bio {font-size: 1.25em; color:#3f7f7c }
    ul.social li {font-size: 2em;}
}




---------------------------------------------*/